* {
    color: #393939;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;

}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-box {
    background-color: #FFF0ED;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}

.nav-box--teal-text{ 
    color: #5BACC3;
}

.nav-box__list {
    width:  30rem;
    vertical-align: middle;
    padding-left: 0;
    padding-bottom: 1.5rem;
}

.nav-box--link {
    display: inline-block;
    font-size: 1.313rem;
    list-style-type: none;
    text-decoration: none;
    padding-right:1.8rem;

}

.nav-box__title {
    font-size: 3.75rem;
    text-align: left;
    width: 10rem;
    display: inline-block;
    margin: 1.875rem, 0, 1.875rem, 1.875rem;
    padding-right: 0;
}

.nav-box__logo {
    text-decoration: none;
    min-width: 3.125rem;
    max-width: 4.5rem;
    display: inline-block;
}

.pink-box {
    display: inline-block;
    background-color: #FFF0ED;
    margin-top: 0;
    padding-top: 0;
}

