* {
    color: #393939;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-box {
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-color: #FFF0ED;
}

.nav-box--teal-text{ 
    color: #5BACC3;
}

.nav-box__list {
    width:  30rem;
    padding-left: 0;
    padding-bottom: 1.5rem;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1rem;
}

.nav-box--link {
    padding-right:1.8rem;
    display: inline-block;
    font-size: 1.313rem;
    text-decoration: none;
}

.nav-box__title {
    width: 10rem;
    margin: 1.875rem, 0, 1.875rem, 1.875rem;
    padding-right: 0;
    display: inline-block;
    font-size: 3.75rem;
    text-align: left;
}

.nav-box__logo {
    min-width: 3.125rem;
    max-width: 4.5rem;
    display: inline-block;
    text-decoration: none;
}



