.hero-box {
    width: 100%;
    background-color: #FFF0ED;    
}

.hero-box__title {
    text-align: left;
    margin-left: 8%;
    display: block;
    margin-bottom: -1rem;    
}

.hero-box__content {
    display: block;
    width: 20rem;
    margin-left: 8%;
    padding-bottom: 2.5rem;    
}

.hero-box__button {    
    font-size: 1.313rem;
    min-width: 11.25rem;
    max-width: 80%;
    padding: 1.1rem;
    color: #FFF;
    background-color: #5BACC3;
    margin-left: 8%;
}

.hero-box__beans {
    vertical-align: middle;
}

.hero-box__left,
.hero-box__right {
    display: inline-block;
}

.hero-box__left {    
    width: 30%;
    padding-left: 10%;
    padding-bottom: 20%;        
}

.hero-box__right {
    width: 25%;
    padding: 5% 8% 0% 25%;    
}

.products {
    padding-top: 1.5rem;
    background-color: #F7F7F7;
}

.product-box__title {
    vertical-align: middle;
    margin-left: 1rem;
}

.product-card__box {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;

}

.products__card {
    min-width: 23rem;
    max-width: 25rem;
    min-height: 30rem;
    max-height: 35rem;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.313rem 0.563rem -0.063rem rgba(0, 0, 0, 0.25);
    /* padding: 0rem;     */
}

.product-card__price-tag {
    display: flex;
    align-items: center;

    flex-grow: 1;
    background-color: #FFF0ED;
    border-radius: 0.625rem;
    padding: 0rem;
    width: 100%;
}

.product-image {
    display: flex;
    /* flex-direction: row; */
    height: 60%;
    margin: 1.7rem 0rem;
    padding: 0rem;
}

.product__card--title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0rem;
}

.product-box__price-tag {   
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
}

.product-card__price-tag--price {
    display: flex;
    /* justify-content: space-around; */
    flex-grow: 1;
}

.product-card__price-tag--desc {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-card__price-tag--quan {
    flex-grow: 0;
}

.product-card__price-tag--desc p {
    margin-top: 0rem;
    color: #909090;
}

.product__menu--pricing {
    margin-right: 2rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center;  */
    color: #5BACC3;
    font-size: 2rem;
    font-weight: 800;
}

.product__button {
    /* display: flex; */
    /* justify-items: center; */
    min-width: 11.25rem;
    max-width: 12rem;
    margin-bottom: 5rem;    
    /* margin-left: 44.5%; */
    padding: 1.1rem;
    /* display: block; */
    text-align: center;
    font-size: 1.313rem;
    color: #FFF;
    background-color: #5BACC3;
}

.product__button--box {
    display: flex;
    justify-content: center;
}

.discount-text-bold {
    font-weight: 700;
}

.discount-banner {    
    width: 80%;
    margin: 10rem 0rem 10rem 10rem;
    padding: 2.4rem 0rem;    
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    color: #FFF;
    background-color: #393939;
}  

.footer-box {
    margin-top: 0;
    background-color: #FFF0ED;
}

.footer-box__titles {
    width: 20%;
    font-size: 2.5rem;
    font-weight: 400; 
}

.footer-box__cards > p {
    font-size: 1.2rem;
}

.footer-box__cards {
    width: 18%;
    padding-left: 8%;
    padding-bottom: 5rem;
    padding-top: 3rem;
    display: inline-block;
    vertical-align: top;
}