h1, h2, h3 {
    text-align: left;
}

.discount-banner {
    min-width: fit-content;
    max-width: 90%;
    background-color: #393939;
    color: #FFF;
    font-size: 2.813rem;
    font-weight: 400;
    margin-top: 0;
}  

.pink-box {
    background-color: #FFF0ED;
    margin-top: 0;
}

.teal-button {
    color: #FFF;
    background-color: #5BACC3;
    border-color: #5BACC3;
    border-style: solid;
}

.discount-text-bold {
    font-weight: 700;
}

.product-images {
    min-height: 15rem;
    max-height: 34.375rem;
}

.menu-pricing {
    color: #5BACC3;
}
