#hot-drinks {
    background-color: #FFF0ED;
}

#cold-drinks {
    background-color: #F7F7F7;
}

#pastries {
    background-color: #FFF0ED;
}


.italic {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-right: 65%;
}

.menu-pricing {
    color: #5BACC3;
    text-align: center;
}

.title-box-background {
    background-image: url(../assets/images/coffee-circle.jpg);
    background-position: center;
    background-size: cover;
    min-width: 100%;
    max-width: 100%;
    min-height: 575px;
    max-height: 600px;
}